
body{
    background-color: #FF8787;
    color:#673F69;
    width: 100vw;
    height: 500vh;
    margin: 0;
}

h1{
    color:hsl(0, 4%, 5%);
    font-family: "Paytone One", sans-serif;
    text-align: center;
    padding:  30px;
    background-color: #9BCF53;
   margin: 0;
}


p{
    color:white;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    text-align: justify;
    margin: 20px;
}
.container{
    background-color: #F4538A;
    height: 610px;

}

.item{
    background-color: #FEF9A7;
    width: 350px;
    height: 570px;
    text-align: justify;
    font-family: "Grandstander", cursive;
    color: #1b99f3;
    
   
}

h2{

    font-family:"Lilita One", sans-serif;
    text-align: center;
    color: #5356FF;
    
}



